DEBUG=1

FLASK_SECRET_KEY='SECRET_KEY_RANDOM_STRING'
FLASK_PASSWORD_SALT='PASSWORD_SALT_RANDOM_STRING'

POSTGRES_HOST='127.0.0.1'
POSTGRES_USER='globalcma'
POSTGRES_PASSWORD='PASSWORD'
POSTGRES_DATABASE='globalcma'

MASS_CMA_LIMIT = 300
MASS_CMA_CHUNK_SIZE = 20

REDUX=1

FLASK_CORS = True

MAIL_SERVER = 'your email server'
MAIL_USERNAME = 'email username'
MAIL_PASSWORD = 'email password'
MAIL_ALLOWED=False