<!doctype html>
<head>
<title>{% block title %}{% endblock %} - Global CMA</title>

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/rule-sets.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/single-cma.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/table-styles.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/case-management.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap">

	<link rel="icon" href="/static/vue/favicon.ico">
	<link rel="shortcut icon" href="/static/vue/favicon.ico">

	<link rel="apple-touch-icon" sizes="180x180" href="/static/vue/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/vue/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/vue/favicon-16x16.png">
	<link rel="manifest" href="/static/vue/site.webmanifest">
	<link rel="mask-icon" href="/static/vue/safari-pinned-tab.svg" color="#9c0909">
	<link rel="shortcut icon" href="/static/vue/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="/static/vue/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

{% endblock %}



{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
</head>

<body>
{% block flash %}
{% for message in get_flashed_messages() %}
    <div class="flash">{{message}}</div>
{% endfor %}
{% endblock %}

{% block document %}

  {% block content %}
  {% endblock %}

  {% block copyright %}
          <div class="row footer-info">
            <div class="col-md-6 footer-credits" style="padding-left: 20px; padding-right: 20px;">
	            191 Patchen Avenue, Brooklyn NY 11233<br/>
				(718) 823-8500<br/>
				info@arbiedevelopment.com<br/>
            </div>
            <div class="col-md-6 footer-copyright">
              &copy; Copyright 2019 Arbie Development.
            </div>
          </div>
  {% endblock %}

		</div>

	</div>
</div>

{% endblock %}

</body>
</html>
