<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label for="name">Property APN Number:</label>
    <input type="text" name="" >{{ apn }}<br>

    <label for="name">Tax Year:</label>
    <input type="text" name="">{{ tax_year }}<br>

    <label for="name">Application Type:</label>
    <input type="text" name="">{{ application_type }}<br>

    <label for="name">County:</label>
    <input type="text" name="">{{county}}<br>

    <label for="name">Marketing Code:</label>
    <input type="text" name="">{{marketing_code}}<br>

    <label for="name">Client ID:</label>
    <input type="text" name="">{{client_id}}<br>

    <img src="data:image/png;base64,{{ qr_code }}" name="image2.png" width="25" height="25" border="0"></span></p>

</body>
</html>