/* Rule Set Table */

.rule-set-table{
	border: 1px solid #f0f3f7;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(224,233,242,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(224,233,242,1);
	box-shadow: 0px 0px 8px 0px rgba(224,233,242,1);
	margin-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.rule-set-table .table-hover{
	background-color: #ffffff;
}

.rule-set-table .table-hover tr:hover{
	background-color: #f8fbff !important;
	color: #1d78af;
}

.rule-set-table .table-hover .top-row:hover{
	background-color: #ffffff !important;
}

.rule-set-table table{
	width: 100%;
}

.rule-set-table table tr.top-row{
	background-color: #ffffff;
	font-family: "Karla";
	font-size: 11px;
	color: #404040;
	text-transform: uppercase;
	font-weight: bold;
}

.rule-set-table table tr:hover.top-row{
	background-color: #ffffff;
	color: #404040;
}

.rule-set-table table tr.top-row td{
		padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.rule-set-table table input[type=checkbox]{
	display: block !important;
}

.rule-set-table table tr{
	font-family: "Karla";
	font-size: 14px;
	font-weight: bold;
	color: #1c77ac;
}

.rule-set-table table tr td{
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.rule-set-table .inherit{
	background-color: #f0f6fc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 30px;
	height: 30px;
}

.rule-set-table .add-adjustment{
	background-color: #1dbab4;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 30px;
	height: 30px;
}

.rule-set-table table tr td img{
	width: 15px;
	height: auto;
	margin-right: 15px;
}

.inherit{
	background-color: #f0f6fc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 30px;
	height: 30px;
}

.inherit-key{
	padding-top: 30px;
	text-align: right;
	font-family: "Karla";
	font-size: 14px;
	font-weight: bold;
	color: #1c77ac;
}




/* Obsolescence Table Styles */

.obsolescence-table{
	font-family: "Karla";
	font-size: 14px;
	font-weight: bold;
	color: #1c77ac;
}

.obsolescence-table tr td{
	padding-top: 10px;
	padding-bottom: 10px;
}

.obsolescence-table input{
	border-radius: 6px;
	border-style: none;
	border: 1px solid #c5d3e0;
	padding: 5px;
	-webkit-box-shadow: inset 0px 20px 19px -33px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 20px 19px -33px rgba(0,0,0,0.75);
	box-shadow: inset 0px 20px 19px -33px rgba(0,0,0,0.75);
	font-family: "Karla";
	font-size: 14px;
	font-weight: bold;
	color: #1c77ac;
}

.obsolescence-table input:focus{
	outline: none !important;
}

/* Inventory Table */

.inventory-table{
	font-family: "Karla";
	font-size: 14px;
	font-weight: bold;
	color: #1c77ac;
}

.inventory-table tr td{
	padding-top: 10px;
	padding-bottom: 10px;
}

.inventory-default{
	color: #c4d1da;
}

/* Selection Table */

.selection-table{
	font-family: "Karla";
	font-size: 14px;
	font-weight: bold;
	color: #1c77ac;
}

.selection-table tr td{
	padding-top: 10px;
	padding-bottom: 10px;
}

.selection-table input{
	border-radius: 6px;
	border-style: none;
	border: 1px solid #c5d3e0;
	padding: 5px;
	-webkit-box-shadow: inset 0px 20px 19px -33px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 20px 19px -33px rgba(0,0,0,0.75);
	box-shadow: inset 0px 20px 19px -33px rgba(0,0,0,0.75);
	font-family: "Karla";
	font-size: 14px;
	font-weight: bold;
	color: #1c77ac;
}

.selection-table input:focus{
	outline: none !important;
}

.selection-block{
	border: 1px solid #c5d3e0;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 90%;
	display: block;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(230,237,247,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(230,237,247,1);
	box-shadow: 0px 5px 5px 0px rgba(230,237,247,1);
}

/* Mass CMA Table Styles */

.mass-cma-table{
	border: 1px solid #f0f3f7;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(224,233,242,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(224,233,242,1);
	box-shadow: 0px 0px 8px 0px rgba(224,233,242,1);
	margin-top: 30px;
}

.mass-cma-table table{
	width: 100%;
}

.mass-cma-table table tr.top-row{
	background-color: #f9f9f9;
	border-bottom: 1px solid #c7d3df;
	font-family: "Karla";
	font-size: 10px;
	color: #2b3643;
	text-transform: uppercase;
	font-weight: bold;
}

.mass-cma-table table tr.top-row td{
	padding: 10px;
}

.mass-cma-table table input[type=checkbox]{
	display: block !important;
}

.mass-cma-table table tr{
	border-bottom: 1px solid #f0f3f7;
	font-family: "Karla";
	font-size: 12px;
	color: #1c77ac;
	/*display: block;*/
}

.mass-cma-table table tr:hover{
	background-color: #f0f6fc;
	color: #9ab0ca;
}

.mass-cma-table table tr:active{
	background-color: #fc5226;
	color: #ffffff;
}

.mass-cma-table table tr td{
	padding: 10px;
}

/* Table Pagination */

.table-pagination{
	margin-top: 30px;
	text-align: right;
	font-family: "Karla" ;
	font-size: 14px;
}

.table-pagination ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.table-pagination ul li{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.table-pagination ul li a{
	display: inline-block;
	text-decoration: none;
}

.table-pagination ul li .inactive-page-skip{
	color:
}

.table-pagination ul li:last-child{
	margin-right: 0px !important;
}

.table-pagination ul li.inactive-page-skip{
	background-color: #f0f6fc;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #d4dce5;
	font-weight: bold;
	border-radius: 6px;
	border: 1px solid #d4dce5;
}

.table-pagination ul li.active-page-skip{
	background-color: #f0f6fc;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #1c77ac;
	font-weight: bold;
	border-radius: 6px;
	border: 1px solid #d4dce5;
}